@model MemeWebApplication.Models.UserReaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserReaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TemplateID" class="control-label"></label>
                <select asp-for="TemplateID" class ="form-control" asp-items="ViewBag.TemplateID"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Favourite" /> @Html.DisplayNameFor(model => model.Favourite)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Download" /> @Html.DisplayNameFor(model => model.Download)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

